<header class="header">
    <img class="mainlogo" [src]="mainlogo" alt="mainlogo" />
    <h2>НХНЛ база</h2>
    <nav class="nav">
        <ul class="navigation">
            <li><a routerLink="/home">Головна</a>
            </li>
            <li><a routerLink="/about">Команда</a></li>
            <li><a routerLink="/about">Продукти</a></li>
            <li><a routerLink="/about">Клуб</a></li>
            <li><a routerLink="/about">Контакти</a></li>
        </ul>
    </nav>
</header>
<router-outlet />
<footer class="footer">FOOTER</footer>