<header class="header">
    <img class="mainlogo" [src]="mainlogo" alt="mainlogo" />
    <h2>НХНЛ база</h2>
    <nav>
        <ul class="navigation">
            <li><a routerLink="/home">Home</a>
            </li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </nav>
</header>
<router-outlet />
<footer class="footer">FOOTER</footer>